<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Spiro Pro - Statistics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="Statistics.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    
    
</head>
<body ng-controller="AppCtrl">
<div id="heading">
    <h1>Spiro Pro</h1>
    <img src="logo.png" id="logo">
    <div class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="index.html" id="home">Home</a></li>
            <li><a href="Statistics.html" id="statistics">Statistics</a></li>
            <li><a href="Download.html" id="download">Download</a></li>
            <li><a href="About.html" id="about">About</a></li>
            <li><a href="FAQ.html" id="faq">FAQ</a></li>
        </ul>
    </div>
</div>
<h2>Statistics of Spiro Pro users</h2>
<div id="main">
    <div id="uppercontent">
    <ul id="uppertabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#filter" data-toggle="tab">Filter</a></li>
        <li><a href="#detail" data-toggle="tab">Detail</a></li>
    </ul>
    <div id="my-uppertab-content" class="tab-content">
        <div class="tab-pane" id="detail">
            <input type="text" ng-model="idtoload"></input>
            <button ng-click="loadid()">Load</button>
            <div>
                <div id="breathGraph" style="width:1000px;height:800px;"></div>
            </div>
            <div>
                <h2> {{subj.last_name}}, {{subj.first_name}}</h2>
                <h4> FEV: {{subjd.feV1 / 1000}} l</h4>
                <h4> FVC: {{subjd.fvc / 1000}} l </h4>
            </div>
        </div>
        <div class="tab-pane active" id="filter">
            <form>
                <input type="checkbox" value="age" ng-model="ageEnabled">
                <label>Age: </label>
                <input type="number" id="ageLower" ng-model="ageLower">-
                <input type="number" id="ageUpper" ng-model="ageUpper">
                <input type="checkbox" value="gender" ng-model="genderEnabled">
                <label>Gender: </label>
                <select ng-model="genderPick">
                <option value="male">Man</option>
                <option value="female">Woman</option>
            </select>
                <input type="checkbox" value="ethnicity" ng-model="ethEnabled">
                <label>Ethnicity: </label>
                <select ng-model="ethnicityPick">
                    <option value="white">Caucasian</option>
                    <option value="other">Asian</option>
                    <option value="latino">Hispanic</option>
                    <option value="black">African</option>
                </select>
                <input type="checkbox" value="weight" ng-model="weightEnabled">
                <label>Weight(kg): </label>
                <input type="number" id="weightLower" ng-model="weightLower">-
                <input type="number" id="weightUpper" ng-model="weightUpper">
                <input type="checkbox" value="length" ng-model="lengthEnabled">
                <label>Length(mm): </label>
                <input type="number" id="lengthLower" ng-model="lengthLower">-
                <input type="number" id="lengthUpper" ng-model="lengthUpper">
                <div id="lower-form">
                <input type="radio" name="option" value="single" id="radio1" ng-model="singleStatEnabled"><label>Single stat</label>
                <select ng-model="primaryVal">
                    <option value="feV1">FEV</option>
                    <option value="fvc">FVC</option>
                </select>
                <input type="radio" name="option" value="graph" id="radio2"><label>Graph</label>
                <select>
                    <option value="feV1">FEV</option>
                    <option value="fvc">FVC</option>
                </select>-
                <select>
                    <option value="feV1">FEV</option>
                    <option value="fvc">FVC</option>
                </select><br>
                <button id="submit" ng-click="search()">Search</button>
                </div>
            </form>
            <div id="lowercontent">
                <ul id="lowertabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
                    <li><a href="#list" data-toggle="tab">List</a></li>
                </ul>
                <div id="my-lowertab-content" class="tab-content">
                    <div class="tab-pane active" id="graph">
                        <div id="statGraph" style="width:1000px;height:800px;"></div>
                        <div>
                            <h2> Query result</h2>
                            <h4> FEV: {{subjd.feV1 / 1000}} l</h4>
                            <h4> FVC: {{subjd.fvc / 1000}} l </h4>
                        </div>
                    </div>
                    <div class="tab-pane" id="list">

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='Statistics.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
        var TESTER = document.getElementById('breathGraph');
                
        var myApp = angular.module("myApp", []);
        myApp.controller("AppCtrl", function($scope, $http) {
            console.log("in controller");
            $scope.search = function() {
                var basequery = "SELECT " + $scope.primaryVal + " FROM test a JOIN test b ON KEYS a.userID WHERE TRUE";
                if ($scope.ageEnabled)
                {
                    basequery = basequery + ' AND DATE_DIFF_MILLIS(CLOCK_MILLIS(), STR_TO_MILLIS(b.birthDate), "years") BETWEEN '
                                + $scope.ageLower + " AND " + $scope.ageUpper;
                }
                if ($scope.genderEnabled)
                {
                    basequery = basequery + ' AND sex = ' + $scope.genderPick;
                }
                if ($scope.ethEnabled)
                {
                    basequery = basequery + ' AND race = ' + $scope.ethnicityPick;
                }
                if ($scope.weightEnabled)
                {
                    basequery = basequery + ' AND weight BETWEEN ' + $scope.weightLower + " AND " + $scope.weightUpper;
                }
                if ($scope.lengthEnabled)
                {
                    basequery = basequery + ' AND length BETWEEN ' + $scope.lengthLower + " AND " + $scope.lengthUpper;
                }
            };
            
            
            $scope.loadid = function() {
                $http.get("/api/stat/getdata?id=" + $scope.idtoload).success(function (res) {
                    console.log("retrieved usr data");
                    console.log(res);
                    $scope.subjd = res;
                    $http.get("/api/stat/getdata?id="+res.userID).success(function(ress) {
                        $scope.subj = ress;
                    });
                    $http.get("/api/stat/getdata?id="+res.rawDataID).success(function(ress) {
                        var cumtot = [];
                        $scope.subjr = ress;
                        ress.data.reduce(function(a,b,i) { return cumtot[i] = a+b; },0);
                        Plotly.plot( TESTER, [{
                            x: cumtot,
                            y: $scope.subjr.data
                        }]);
                    });
                });
            };
        });
    </script>
</body>
</html>
